<template name="AfterQuiz">
  {{> MobileMenuBar title="Your Money Mindset" color="#ffa000"}}

<div style="padding: 0px;" class="ui basic center aligned container segment">
  <p style="font-size: 18px; color: #848484;">

    SignUp for MoneyComb and get
    a free custom spending plan.

    MoneyComb: a new kind of personal
    finance and budgeting experience.  
    Customized, Easy and Engaging.  

  </p>

  <div class="ui message">
    The average MoneyComb user has
    saved over $200 per month compared
    to their own recent spending.

  </div>
  </div>

  <div style="margin: 0px; padding: 5px;" class="ui basic center aligned container segment">
    <div class="ui fluid image">
      <img src="/images/mindsets.png"/>
    </div>
    <a href="http://www.mymoneycomb.com">
      <div class="proceed ui huge yellow icon button">
       Try MoneyComb for Free Now
      </div></a>


    <a href="http://www.mymoneycomb.com">
  <div class="proceed ui huge yellow icon button">
    Go to MyMoneyComb.com
  </div></a>

</div>
</template>
