<template name="IntroQuiz">
    {{> MobileMenuBar title="Discover Your Money Mindset" color="#ffb300"}}

    <div class="ui basic center aligned container segment">
        <div class="two ui centered stackable doubling cards">

            <div class="ui card">
                <div class="content">
                    <div class="header">Which Mindset are you?</div>
                    <div class="meta">Are you all about fitness? A gamer? Love the finer things in
                        life?
                        Based on research conducted at Duke University, we created this short, fun quiz to help you
                        understand
                        your spending better.
                        You’ll also learn your passion categories: areas you gain the most enjoyment for every
                        hard-earned
                        dollar spent.
                    </div>
                </div>
                <div class="centered content">
                    <img class="ui medium image" src="/images/mindsets.png"/>
                </div>

            </div>

        </div>
        <div class="ui divider"></div>

            <a href="/discover/takequiz">
                <div class="proceed ui huge teal icon button">
                    Take Quiz Now
                </div>
            </a>
    </div>

</template>
