/*****************************************************************************/
/* SpendSetter: Style */
/*****************************************************************************/
.SpendSetter {

}

.very-tiny-text {
    font-size: 10px;
}


.period-marker {
    width: 60px;
    height: 15px;
    font-weight: 400;
    font-size: 10px;
    color: white;
    background-color: #848484;
    text-align: center;
}

.cell-name-bar {
    font-size: 22px;
    color: white;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;

}