/*****************************************************************************/
/* AccountsSegment: Style */
/*****************************************************************************/
.accounts-segment {
}
.account-type {
    background-color: #848484;
    width: 60px;
    height: 60px;
    padding-top: 10px;
}