<template name="ProfileProgess">
  <div class="profile-progess">


    <div class="ui steps">
      <div class="{{stepstatus.s1}} step">
        <i class="user icon"></i>

        <div class="content">
          <div class="title">About You</div>
          <div class="description">Just the basics</div>
        </div>
      </div>
      <div class="{{stepstatus.s2}} step">
        <i class="payment icon"></i>

        <div class="content">
          <div class="title">Spending Preferences</div>
          <div class="description"></div>
        </div>
      </div>
      <div class="{{stepstatus.s3}} step">
        <i class="info icon"></i>

        <div class="content">
          <div class="title">See your Profile</div>
        </div>
      </div>
    </div>


  </div>
</template>
