<template name="OnboardingNavbar">
  <div class="ui steps">
    <div class="{{step1}} step">
      <img src="/images/teal/brain.png" width="40" style="margin:10px; opacity: {{opacity1}};"/>
      <div class="content">
        <div class="title">Discover Your<br>Money Mindset</div>
        <div class="description"></div>
      </div>
    </div>
    <div class="{{step2}} step">
      <img src="/images/teal/sync.png" width="40" style="margin:10px; opacity: {{opacity2}};"/>
      <div class="content">
        <div class="title">Link Your<br>Accounts</div>
        <div class="description"></div>
      </div>
    </div>
    <div class="{{step3}} step">
      <img src="/images/icon.png" width="40" style="margin:10px; opacity: {{opacity3}};"/>
      <div class="content">
        <div class="title">SpendSetter</div>
        <div class="description"></div>
      </div>
    </div>
  </div>
</template>
