<template name="WizardWelcome">

    <div align="center" style="padding: 8px; background-color: #848484;">
        <span style="font-size: 24px; color: white;"><i class="large circular magic icon"></i> Spend Wizard</span>
    </div>

    <div class="ui basic segment container">

        <div class="ui three stackable centered doubling cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">
                        The MoneyComb Approach
                    </div>
                    <div class="meta">Why we focus on only six major categories or "cells" of spending</div>
                </div>
                <div class="content">
                    <p style="font-size: 16px;">It’s hard to save, invest or pay off debt if your spending is out of
                        control.  It’s also tough to change
                        most essential expenses like rent or car payments.  That's why MoneyComb focuses on <strong>six
                            categories of
                            day-to-day spending</strong> you can actually do something about:</p>
                    <a class="ui empty circular label" style="background-color: #fdd835;"></a><span
                        class="legend-text-style">Eating Out</span><br>
                    <a class="ui empty circular label" style="background-color: #ffb300;"></a><span
                        class="legend-text-style">Digital Services</span><br>
                    <a class="ui empty circular label" style="background-color: #fb8c00;"></a><span
                        class="legend-text-style">Recharge</span><br>
                    <a class="ui empty circular label" style="background-color: #00695c;"></a><span
                        class="legend-text-style">Travel</span><br>
                    <a class="ui empty circular label" style="background-color: #26a69a;"></a><span
                        class="legend-text-style">Entertainment</span><br>
                    <a class="ui empty circular label" style="background-color: #80cbc4;"></a><span
                        class="legend-text-style">Shopping</span>
                </div>
            </div>

            <div class="ui card">
                <div class="content">
                    <img class="ui medium image" src="/images/mc80.png"/>
                </div>
            </div>

        </div>


        <div class="ui divider"></div>

        <div align="center">
                <button class="action-adjust-target ui yellow huge button">Get Started</button>
        </div>

    </div>

</template>