<template name="SubCellSelector">
  {{#each subcells}}
    <div id="sc-{{transId}}-{{abbrev}}" class="subcat-icon" style="background-color: #848484; color: #ffffff;">
      <img src="/images/white/{{abbrev}}.png" width="15"/>
    </div>
{{/each}}

  <div id="sc-{{transId}}-o" class="subcat-icon" style="background-color: {{subcellColor}}; color: #ffffff;">
    <img src="/images/white/o.png" width="15"/>
  </div><br>
  <br>
  <span style="font-size: 10px; color: #ffffff;">{{recatLabel}}</span>

  <!--



  Entertainment

  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/concert.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/gaming.png" width="15"/>
  </div>

    <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/bf.png" width="15"/>
  </div>


  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/charity.png" width="15"/>
  </div>


  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/insurance.png" width="15"/>
  </div>

  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/parking.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/pets.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/unknown.png" width="15"/>
  </div>



  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/h.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/tr.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/med.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/ed.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/groceries.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/gas.png" width="15"/>
  </div>
  <div id="{{transId}}-{{abbrev}}" class="cat-icon" style="background-color: #848484; color: #ffffff;">
    <img src="/images/white/gifts.png" width="15"/>
  </div>
-->


</template>
