<template name="PlanVsActual">
  <div>
  {{> React component=PlanVersusActualChart plan=(plan) actual=(actual) colors=(colors)}}
  </div>
  <!--
    <table class="ui very basic celled table">
      <tbody>
      <tr>
        <td>
            {{> React component=PlanVersusActualChart plan=(plan) actual=(actual) colors=(colors)}}
        </td>
      </tr>

      <tr>
        <td>
          <a class="ui empty circular label" style="background-color: {{colors.eo}};"></a><span class="legend-text-style">Eating Out</span>
          <a class="ui empty circular label" style="background-color: {{colors.ds}};"></a><span class="legend-text-style">Digital Services</span>
          <a class="ui empty circular label" style="background-color: {{colors.r}};"></a><span class="legend-text-style">Recharge</span>
          <a class="ui empty circular label" style="background-color: {{colors.t}};"></a><span class="legend-text-style">Travel</span>
          <a class="ui empty circular label" style="background-color: {{colors.e}};"></a><span class="legend-text-style">Entertainment</span>
          <a class="ui empty circular label" style="background-color: {{colors.s}};"></a><span class="legend-text-style">Shopping</span>
        </td>
      </tr>
      </tbody>
    </table>  -->
</template>
