<template name="Intro">
  <div class="ui segments">
    {{> MobileMenuBar title="Step 3 of 3 - Discover Your Money Mindset" color="#26a69a"}}
    <div class="ui segment info">

      <div style="color: #848484;" align="center" class="center aligned content">

          Respond to a few brief, fun statements about money and spending.  This helps us craft a custom spending plan to maximize happiness and financial health.

        <br>
        <a href="/ob/step1b"><div class="proceed ui large teal icon button">
          PROCEED</div></a>
      </div>
    </div>
  </div>

</template>
