/*****************************************************************************/
/* AddTransaction: Style */
/*****************************************************************************/
.add-transaction {
}

#amount2
{
    color:white;
    font-size:55px;
    font-weight:bold;
    font-weight: 300;
    text-align:center;
    width: 100%
}

.keypad
{
    z-index:100;
    position:absolute;
    color:white;
    font-size:48px;
    font-weight:bold;
    left:0px;
    bottom:30px;
    font-size: 16px;
    color: white;
    width: 100%
}

