/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(https://res.cloudinary.com/moneycomb/image/upload/q_90/v1478202042/images/MCSnowboarderWebSize.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    width: 100%;
}


.hexclipped {
    -webkit-clip-path: polygon(24% 5%, 76% 5%, 100% 50%, 76% 95%, 24% 95%, 0% 50%);
    clip-path: polygon(polygon(24% 5%, 76% 5%, 100% 50%, 76% 95%, 24% 95%, 0% 50%);

}

