<template name="WizardSavingsQ">
    <div align="center" style="padding: 8px; background-color: #848484;">
        <span style="font-size: 24px; color: white;"><i class="large circular magic icon"></i> Spend Wizard</span>
    </div>

    <div class="ui basic segment container">

        <!--
        <div class="ui message">
            {{> CircleIcon color="#5fb7e5" image="/images/white/savings.png"}}
            MoneyComb can help you reduce spending to achieve a certain amount of savings. We do this by providing daily guidance
            to reduce spending in the six MoneyComb categories.
        </div>

      <div class="ui center aligned segment">
          <h4>Do you want to set a savings goal? </h4>

          <div class="ui huge buttons">
              <button class="action-yes ui teal large button">Yes, help Me save</button>
              <div class="or"></div>
              <button class="action-no ui yellow large button">No, not at this time</button>
          </div>

      </div>  -->

        <div class="ui center aligned segment">
                <button class="action-no ui yellow large button">Continue</button>
        </div>

        
    </div>
</template>