<template name="MobileMoneyCombSignIn">

  <div class="ui segments">
    {{> SegmentHeader title="Welcome Back" color="#ffa000"}}
    <div class="ui segment signin">
      <div class="content">
        <div class="login-form">
          <h1 style="text-align: center; color:#ffa000;">Welcome back.</h1>
          {{> atForm}}
          <p class="center aligned grey-text tiny-text">MoneyComb's <a
              href="http://www.mymoneycomb.com/terms-privacy/">Terms of Use
            & Privacy</a> policy</p>
        </div>
      </div>
    </div>
  </div>

</template>
