<template name="CellHistory">
  <div class="cell-history">
    Last 6:
    <a class="ui pink empty circular label"></a>
    <a class="ui yellow empty circular label"></a>
    <a class="ui yellow empty circular label"></a>
    <a class="ui yellow empty circular label"></a>
    <a class="ui yellow empty circular label"></a>
    <a class="ui pink empty circular label"></a><br>
     <!--<span class="tiny-text">(<a class="ui yellow empty circular label"></a> = Under
      <a class="ui teal empty circular label"></a> = Over)</span> -->
  </div>
</template>
