<template name="HoneyMoneyWidget">
  <div class="help-icon ui center aligned segments">
      <img src="http://res.cloudinary.com/moneycomb/image/upload/v1475607616/images/coin.png" width="50"/> {{>SegmentHeader title="Honey Points" color="tertiary grey"}}
    <div class="ui center aligned segment">
      <div class="ui yellow statistic">
        <div class="value">
          {{hp}}
        </div>
        <div class="label">
          Honey Money
        </div>
      </div>
    </div>
  </div>

</template>
