<template name="Footer">

  <div style="margin-top: 0px;" class="ui segments">

    <div class="ui inverted center aligned grey vertical footer segment">
      <div class="ui container">

        <div class="ui four column grid">
          <div class="row">
            <div class="very-tiny-text three wide column"><a href="http://www.mymoneycomb.com/contact-us/">CONTACT US</a></div>
            <div class="very-tiny-text five wide column"><a href="http://www.mymoneycomb.com/terms-privacy/">TERMS & PRIVACY</a></div>
            <div class="very-tiny-text column"><a href="http://www.mymoneycomb.com/security-1/">SECURITY</a></div>
            <div class="very-tiny-text column"><a href="http://www.mymoneycomb.com/support/">SUPPORT</a></div>
          </div>
        </div>

      <p class="center-align grey-text very-tiny-text">
        Moneycomb, 2024 W. Main St., Durham, NC 27705<br>
        All rights reserved MoneyComb® 2016. MoneyComb is an educational and
        informational financial wellness platform.
        MoneyComb does not manage money or financial assets nor is it a bank or any kind of lending platform. There is
        no
        solicitation or offer to buy or sell securities. MoneyComb exists solely to help its users make wise financial
        decisions and spend who they are.</p>
    </div>
  </div>

  </div>


</template>
