<template name="ActionPanel">
  <div class="ui horizontal segments">


    <div class="ui center aligned segment">
      <h5 class="ui center aligned icon header">
        <i class="orange circular inverted money icon"></i>
        Spend Suggestions
      </h5>
      <div class="ui large orange button">Discover</div>
    </div>

    <div class="ui center aligned segment">
      <h5 class="ui center aligned icon header">
        <i class="orange circular inverted leaf icon"></i>
        Try Something New
      </h5>
      <div class="ui large orange button">Explore</div>
    </div>

    <div class="ui center aligned segment">
      <h5 class="ui center aligned icon header">
        <i class="orange circular inverted heartbeat icon"></i>
        Money Meditation
      </h5>
      <div class="ui large orange button">Reflect</div>
    </div>


    <div class="ui center aligned segment">
      <h5 class="ui center aligned icon header">
        <i class="teal circular inverted pie chart icon"></i>
        Spend Stats
      </h5>
      <div class="action-stat ui large teal button">Visualize</div>
    </div>

    <div class="ui center aligned segment">
      <h5 class="ui center aligned icon header">
        <i class="teal circular inverted users icon"></i>
        Compare and Share
      </h5>
      <div class="ui large teal button">Connect</div>
    </div>

    <div class="ui center aligned segment">
      <h5 class="ui center aligned icon header">
        <i class="teal circular inverted fa-bank icon"></i>
        Reduce Debt
      </h5>
      <div class="ui large teal button">Review</div>
    </div>

  </div>

</template>
