<template name="AccountDeleteModal">
  <div class="ui small modal delete-modal">
    <i class="close icon"></i>
    <div class="header">Delete MoneyComb Account</div>
    <div class="content">
      <p>This will delete your account, removing all your accounts, transactions, and associated information.
        This cannot be undone. Are you sure?
      </p>
    </div>
    <div class="actions">
      <div class="ui approve button"><i class="teal check icon"></i> Yes, Delete it,</div>
      <div class="ui cancel button"><i class="grey close icon"></i> Cancel</div>
    </div>
  </div>
</template>
