/*****************************************************************************/
/* DonutChart: Style */
/*****************************************************************************/
.donut-chart {
}

.c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 3em;
    color: #848484;
    background-color: #212121;
}
